.div
{

  border:0px solid lightbgreen;
  padding:20px;
   width:300px;
   margin: 20px;
display:inline-block;  
background-color: lightgreen;
}
.div1{
  border: 1px dotted green;
  width:1200px;
  text-align: center;
  margin: 130px 320px;
  background-color: silver;
  
}
#find{
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  width:250px;
  height:30px;
  margin-left: 100px;
  margin-top: 20px;
}
#add{
  border:1px solid silver;
  margin:25px;
  width:40px;
  height:30px;
  border-radius: 20px 20px 20px 20px;
  font-size: 20px;
}
#add:hover,
#add:focus{
  border:3px solid grey;
  outline-offset:3px;
}
.t1{
 width:180px;
 height:30px; 
 border-radius: 0px 20px 20px 0px;
 
}
.t2{
  width:180px;
  height:30px; 
  border-radius: 20px 20px 20px 20px;
  text-align: center;
 }
 .t3{
  width:180px;
  height:30px; 
  border-radius: 20px 0px 0px 20px;
  text-align: right;
 }
 .t4{
  border:0px ;
 }